
@{
    ViewData["Title"] = "About";
}

<h2>Open Calgary Data Sets Used:</h2>
<div class="list-group">
    <a href="https://data.calgary.ca/Recreation-and-Culture/Calgary-Public-Library-Locations-and-Hours/m9y7-ui7j" class="list-group-item">
        <h4 class="list-group-item-heading">Libraries Locations and Hours</h4>
    </a>
    <a href="https://data.calgary.ca/Services-and-Amenities/School-Locations/fd9t-tdn2" class="list-group-item">
        <h4 class="list-group-item-heading">School Locations</h4>
    </a>
    <a href="https://data.calgary.ca/Environment/Air-Quality-Data/uqjm-jxgp" class="list-group-item">
        <h4 class="list-group-item-heading">Air Quality Data</h4>
    </a>
    <a href="https://data.calgary.ca/Health-and-Safety/Community-Crime-Statistics/848s-4m4z" class="list-group-item">
        <h4 class="list-group-item-heading">Community Crime Statistics</h4>
    </a>
    <a href="https://data.calgary.ca/Recreation-and-Culture/Parks-Monuments/hh57-r3mr" class="list-group-item">
        <h4 class="list-group-item-heading">Park Monuments</h4>
    </a>
</div>

<h2>Suggested Improvements:</h2>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Better air quality data for different regions</h4>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">More diverse set of metrics for calculating Score</h4>
        <p class="list-group-item-text">Hospitals</p>
        <p class="list-group-item-text">Transit Access</p>
        <p class="list-group-item-text">Ammenities such as grocery stores and community centers</p>
    </a>
</div>


<h2>Source Code</h2>
<div class="list-group">
    <a href="https://data.calgary.ca/Recreation-and-Culture/Calgary-Public-Library-Locations-and-Hours/m9y7-ui7j" class="list-group-item">
        <h4 class="list-group-item-heading">Github Repo</h4>
    </a>
</div>